<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <substitutionProperty name="log.base" value="./log/"/>
    <!--<Property name="log.base" value="E:\logs"/>-->
    <!-- 控制台输出日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
        </layout>
    </appender>

    <!-- 文件输出日志，按天分割 -->
    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <Encoding>UTF-8</Encoding>
        <File>${log.base}monitor.log</File>
        <!--<File>E:\logs\nrs-communication.log</File>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}nrs-communication.%d{yyyyMMdd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %logger{1} %msg%n</pattern>
        </layout>
    </appender>


    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <Encoding>UTF-8</Encoding>
        <File>${log.base}error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}error.%d{yyyyMMdd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %logger{1} %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.ibatis" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="java.sql.Connection" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="java.sql.Statement" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="infoFile"/>
        <appender-ref ref="errorFile"/>
    </root>
</configuration>